*{margin: 0;
font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;adding: 0;
box-sizing: border-box;

}
header{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e6dddd;}
.myntra_logo{
    height: 60px;
    
}
.logocontainer{
    left: 4%;
}
.action_bar{
    margin-right: 10%;
}
.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;

}
.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 27px 0;
    border-bottom: 4px solid #ffffff;
}
.nav_bar a:hover{
    border-bottom: 3px solid #f54e77;
}
.nav_bar a sup{
 font-size: 10px;
 color: #ff3f6c;
}
.search_bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;

}
.search_icon{
    background-color: #f5f5f6;
padding: 10px;
box-sizing: content-box;
height: 20px;
color: #282c3f;
font-weight:300;
border-radius: 5px 0 0 5px;
}
.search_input{
color: #696e79;
background-color: #f5f5f6;
flex-grow: 1;
height: 40px;
border: 0;
border-radius: 0 5px 5px 0;
}
.action_bar{
    display: flex;
    min-width: 200px;
    justify-content:space-evenly;
} 
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
} 



.banner_container{
    margin: 40px 0;
}

.banner_image{
    width: 100%;
}
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15en;
    font-size: 1.8en;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 500;
}
.category_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sale_item{
    width: 250px;

}
.footer_container{
    padding: 30px 0 40px 0;
    background-color: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}
.footer_coloum
{
    flex-direction: column;
    display: flex;
    
}
.footer_coloum h3 
{
    color: #282c3f;
    margin-bottom: 25px;
    font-size: 14px;
}
.footer_coloum a{
    font-size: 15px;
    color: #696b79;
    text-decoration: none;
    padding: 5px;
}
.copyright{
    color: #94969f;
    text-align: end;
    padding: 14px;
}


